##########################
# Environnement
##########################
.env
.env.backup
.env.production
.env.local
*.env

##########################
# Dépendances
##########################
/vendor
/node_modules

##########################
# Build / assets compilés
##########################
/public/build
/public/hot
/public/fonts-manifest.dev.json

##########################
# Storage Laravel
##########################
/public/storage
/storage/*.key
/storage/pail
/storage/app/public

##########################
# Tests
##########################
.phpunit.result.cache
/.phpunit.cache

##########################
# Cache & logs
##########################
*.log
.DS_Store
Thumbs.db
/bootstrap/cache/*.php

##########################
# IDEs et outils locaux
##########################
/.idea
/.vscode
/.cursor/
/.nova
/.zed
/.codex
/.phpactor.json
/_ide_helper.php
_ide_helper.php
.phpactor.json

##########################
# Autres
##########################
/auth.json
Homestead.json
Homestead.yaml
/.npmrc
message_whatsapp_equipe.txt
plan_organisation_trello